body{
	margin: 0px 0px;
	padding: 0px 0px;
	font-family: sans-serif;
}
/* <-----------------------Navbar--------------------> */
.header-wrapper{
	width: 90%;
	align-content: space-between;
	align-items: center;
	margin: 15px auto;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3,1fr);
}
.header-wrapper ul{
	padding: 0px 0px;
}

.header-wrapper ul li{
	display: inline-block;
	padding: 5px 15px;
}

.header-wrapper ul li a{
	text-decoration: none;
	font-size: 17px;
	color: black;
}

.logo span{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.logo{
	text-align: center;
}

.logo-text{
	animation: ChangeColor 5.0s linear infinite;
	color: #b721ff;
}
.icons{
	text-align: right;
}

.icons img{
	width: 20px;
	height: 20px;
	margin-left: 20px;

}
/* -----------------------Contact---------------------------- */
.contact{
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
form h3{
    font-weight: 800;
    color: #606163;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

form{
   background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
}
form input, form textarea{
    border: 0;
    margin: 10px;
    padding: 20px;
    background: #f5f5f5;
}
form button{
    padding: 15px;
    background: #21d4fd;
    color: whitesmoke;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor:pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
form button:hover{
    background: #b721ff;

}


/* -------------------Footer------------------------------ */
.footer-wrapper{
	width: 100%;
	display: block;
	margin-top: 50px;
	background-color: rgba(50,50,50,0.3);
	padding: 40px 0px;
}

.footer-wrapper footer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	display: block;
}
.col-50{
	width: 50%;
	padding: 10px 10px;
	display: inline-block;
	float: left;
	text-align:left;
}
.col-25{
	width: 23%;
	display: inline-block;
	text-align:left;
}
.col-50 .logo-text{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	letter-spacing: 5px;
}
.col-50 .sub-text{
	font-size: 16px;
	margin-top: 5px;
	color: rgb(50,50,50);
}
.col-25 ul{
	padding: 0px 0px;
	margin: 0px 0px;
}
.col-25 ul li{
	list-style-type: none;
	margin-bottom: 15px;
}
.col-25 ul li a{
	text-decoration: none;
	color: rgb(50,50,50);
	font-size: 16px;
}
.footer-wrapper hr{
	margin-top: 30px;
	margin-bottom: 30px;
}
.footer-end{
	text-align:center;
}

/* -----------------------Animation---------------------- */

@keyframes ChangeColor{
	0%{
		color: #21d4fd;
	}
	50%{
		color: #b721ff;
	}
	100%{
		color: #21d4fd;
	}
}